.slide-track{
    display: flex;
    justify-content: center;
}

.slide-track img{
    height: 230px;
    width: 230px;
    margin-right: 20px;
    border-radius: 10px;
}


@media screen and (max-width: 1200px){
    .slide-track{
        display: none;
    }
}